@page "/profile"

@using Newtonsoft.Json;
@using WebbDesignBlazorLabb3.Shared;
@inject HttpClient _client;
@inject NavigationManager UriHelper

<AuthorizeView>
	<Authorized>
		<h3>@profileName profile!</h3>

		<!--Modal för User List-->
		<div class="modal fade" id="addListModal" tabindex="5" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Skapa en lista</h5>
						<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<EditForm Model="@newUserList" Context="book">
							<div class="form-group row">
								<label class="col-md-2 col-form-label-lg"> Namn: </label>
								<div class=" mb-2">
									<InputText class="form-control" @bind-Value="newUserList.Name" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-2 col-form-label-lg"> Beskrivning: </label>
								<div class=" mb-2">
									<InputText class="form-control" @bind-Value="newUserList.Description" />
								</div>
							</div>
						</EditForm>
					</div>
					<div class="modal-footer">
						<button class="btn btn-success" @onclick="CreateNewList" data-bs-dismiss="modal">Skapa din lista</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		@if (loadingList)
		{
			<div class="spinner-border mt-4"></div>
		}
		else if (listExists && !loadingList)
		{
			if (currentUserList.Content.Count == 0)
			{
				<p> Din lista är tom. </p>
				<button class="btn btn-success" @onclick="SendUserToBookPage">Lägg till böcker!</button>
			}
			else
			{

				<p class="mt-4">Namn: @currentUserList.Name </p>
				<p class=""> Beskrivning: @currentUserList.Description </p>
				<button class="btn btn-warning" value="ändra" @onclick="ToggleEdit">Ändra</button>
				<div class="border border-secondary d-inline-flex flex-wrap container-fluid">
					<Virtualize Items="booksInList" Context="book">
						<div class="col-lg-2 col-md-4 col-sm-12 pb-lg-2 p-lg-2">
							<div class="card mt-2">
								<div class="card-header">
									@if (isListEditable)
									{
										<button class="btn btn-xs btn-danger"  @onclick="() => RemoveBookFromList(book.Isbn)">X</button>
									}
									<h5 class="text-center mt-1 text-truncate"><button class="btn btn-link">@book.Title</button></h5>
								</div>
								<div class="card-body text-center">
									<img src="@book.ImageLink" class="mx-auto mt-3 align-content-center" height="197" width="128" />
									<h6 class="card-title mt-1">
										@foreach (var auth in book.Authors)
										{
											@auth
										}
									</h6>
								</div>
							</div>
						</div>
					</Virtualize>
				</div>
			}
		}
		else if (!listExists && !loadingList)
		{
			<p> Du har ingen lista. Skapa en?</p>
			<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addListModal">Skapa din lista</button>

		}
	</Authorized>
	<NotAuthorized>
		<p> You are not logged in! </p>
	</NotAuthorized>
</AuthorizeView>
@code {

}
