@page "/AddBook"
@using Microsoft.Extensions.Logging
@using Newtonsoft.Json;
@using WebbDesignBlazorLabb3.Shared;

@inject HttpClient client;

<h3>Add a Book!</h3>

<EditForm Model="@bookToAdd" OnSubmit="@FetchBook">
	<div class="form-group row">
		<label for="inputISBN" class="col-md-1 col-form-label-lg">
			ISBN:
		</label>
		<div class="col-sm-4 mt-2">
			<InputNumber id="inputISBN" class="form-control" placeholder="ISBN" @bind-Value="bookToAdd.Isbn" />
		</div>
		<div class="col-md-0 mt-2">
			<button type="Submit" class="btn btn-success">Hämta bok</button>
		</div>
	</div>
</EditForm>


@if (trigger == 1 && bookOk)
{
	<div class="m-4">
		<h4>Results: </h4>
		<img class="mt-2" src="@bookToAdd.ImageLink">
		<p class="mt-3"> ISBN: @bookToAdd.Isbn</p>
		<p class="mt-2"> Titel: @bookToAdd.Title</p>
		<p class="mt-2"> Författare:
			@foreach (var author in bookToAdd.Authors)
			{
				@author
			}
			</p>
		<p class="mt-2"> Beskrivning: 
			<span class="d-block text-truncate" style="max-width: 750px;">
				@bookToAdd.Description
			</span>
		</p>
		<p class="mt-4"> Sidor: @bookToAdd.Pages</p>
		<h5 class="mt-3"> Ser bokens info bra ut?</h5>
	</div>

	<EditForm Model="bookToAdd" OnSubmit="@SubmitBook">
	<button class="btn btn-success mt-4"> Spara till databasen</button>
	</EditForm>
}
else if(trigger == 2)
{
	<div class="spinner-border mt-4"></div>
}
else if (!bookOk && trigger == 1)
{
	<div class="mt-2">
		<p> Ingen bok hittades! </p>
	</div>
}


<!--
	//test ISBN
	//9780141184944
-->

@code{

}

