@page "/Book/{ISBN}"
@using WebbDesignBlazorLabb3.Shared;

@inject HttpClient _client;
@inject NavigationManager UriHelper

<h3>@currentBook.Title</h3>

<div class="m-4">
	
	<img class="mt-2" src="@currentBook.ImageLink">
	<p class="mt-3"> ISBN: @currentBook.Isbn</p>
		<p class="mt-2"> Författare:
		@foreach (var author in currentBook.Authors)
		{
			@author
		}
			</p>
		<p class="mt-2"> Beskrivning: 
			<span class="d-block " style="max-width: 750px;">
			@currentBook.Description
			</span>
		</p>
	<p class="mt-4"> Sidor: @currentBook.Pages</p>
	
	</div>
		<button type="Submit" class="btn btn-info" @onclick="SendUserBack">Gå tillbaka</button>
	<AuthorizeView>
		<Authorized>
		@if (currentUserList.Content.Find(x => x == handeledIsbn) != handeledIsbn)
		{
			<button class="btn btn-success m-2 mx-lg-2" @onclick="() => AddBookToList(handeledIsbn, email)">Lägg till i profil</button>
		}
		else
		{
			<p>Boken är i din lista!</p>
		}
		</Authorized>
		<NotAuthorized>
			@if (ISBN == null)
			{	
				<p> No book was loaded </p>
			}
		</NotAuthorized>
	</AuthorizeView>

@code {

}
